body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.handWriteName {
  margin: 0 auto;
  font-family: 'Delicious Handrawn', cursive;
}

.middle-cloud {
  position: absolute;
  left: 30%;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 20px;
}

.top-container {
  padding: 60px;
  background-color: #d6e8db;
}

.myPicture {
  width: 150px;
  border-radius: 90%;
  background-color: #F8F6F4;
}

.camera-img {
  border-radius: 90%;
}

.img-computer {
  border-radius: 90%;
}
