body {
  text-align: center;
  font-family: 'Nunito', sans-serif;  
  font-weight: 500;
  margin: 0 0;
}

h2 {
  font-size: 2rem;
  margin-top: 5px;
  color: #66bfbf;
}

h1 {
  color: #66bfbf;
  line-height: 2;
}

h3 {
  color: #11999e;
}

#mySkill{
  margin: 50px 0 50px 0 ;
}

.position {
  font-weight: normal;
  margin-bottom: 90px;
}
.dotboader{
  border-style: dotted;
  border-width: 8px 0 0 0;
  width: 5%;
  margin: 0 auto;
  border-color: rgb(198, 196, 196);
}

.handWriteName {
  margin: 0 auto;
  font-family: 'Yesteryear', cursive;
  font-size: 5rem;
  font-weight: 100;
}

.middle-cloud {
  position: absolute;
  left: 10%;
}

.middle-cloud2 {
  position: absolute;
  left: 80%;
  top: 30%;
}

.top-cloud {
  position: absolute;
  right: 30%;
  top: 10px;
}

.contactme{
  width: 100px;
  height: 35px;
  background-color: #9bece6;
  position: relative;
  left: 50%;
}

.contactLink{
  margin: 0 0;
  background-color: #66bfbf;
}

.top-cloud2 {
  position: absolute;
  left: 25%;
}
.skill-text1 {
  text-align: left;
}
.skill-text2 {
  text-align: left;
}

.skills {
  width: 50%;
  margin: 60px auto;
  text-align: left;
  line-height: 2;
}
.skill-img1 {
  width: 25%;
  border-radius: 90%;
  float: left;
  margin-right: 30px;
}
.skill-img2 {
  width: 25%;
  border-radius: 90%;
  float: right;
}
.skill1 {
  margin-bottom: 50px;
}

.top-container {
  padding: 100px;
  background-color: #d6e8db;
}

.myPicture {
  width: 150px;
  border-radius: 90%;
  background-color: #f8f6f4;
}
